body{
	line-height: 26px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    background-color: #777777;
    background-attachment: fixed;
}
.wrapper{
	background: blue;
}
.drop-menu:hover .drop-items{
	display: block;
}
ul{
	list-style: none;
}
ul li{
	font-size: 14px;
}
.height{
	min-height: 100vh;
}
.height-80{
	min-height: 80vh;
}
.height-0{
	min-height: 20vh;
}
.text-underline{
	width: 200px;
	height: 20px;
}

#progress{
	background: linear-gradient(rgb(0,0,0,.5),rgb(0,0,0,.5)) ,url(http://drive.google.com/thumbnail?id=1ljb2aW4sghh_r8rEmxnCXzLtbwfFSd2N)center/cover no-repeat fixed;
}

.title-underline{
	width: 200px;
	height: 10px;
	margin: 0 auto;
	/*background: blue !important;*/
}